

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: "Lato", "Noto Sans JP", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
}


/*	header
/*---------------------------------	*/

/* header {
  position: fixed;
  top: 0;
  z-index: 99999;
  width: 100%;
  height: 60px;
}*/

.theme {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  background-color: #f1f1ef;
  margin: 0;
  padding: 0;
}

/*	main
/*---------------------------------	*/

.clearfix {
  width: 100%;
}

.part p {
  margin-top: 25px;
  margin-bottom: 25px;
}

.set .prot img {
  width: 100%;
  height: auto;
}

.uppart img {
  width: 80%;
  height: auto;
}

.clearfix .tec img {
  width: 100%;
  height: auto;
}


.cont a {
  border-radius: 0rem;
  box-shadow: 0 3px 0 #ccc;
}

/* .cont a:hover {
  position: relative;
  top: 3px;
  box-shadow: none;
} */
